@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    box-sizing: border-box;
  }

body{
     margin: 0;
     font-family: 'Montserrat', sans-serif;
     
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    height: 100vh;
    background: no-repeat center/cover url('logo4_30_15178.jpeg') 
   
}

header nav{
    display:flex;
    justify-content: space-between;
    margin:auto 30px;
    color: white;
}

header nav p{
    font-weight: bold;
}


 
header nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

header nav ul li{
    margin: 0 15px;
}


.pacotes{
    
    background:#dcdcdc;
    padding: 10px;
}

.pacotes .pacotes-cards{
    display: flex;
    max-width: 990px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

.pacotes .pacotes-title{
    width: 100%;
    margin: 25px 0;
    text-align: center;
}


.pacotes .card{
    width: 250px;
    height: 320px;
    background: white;
    border-radius: 24px 0px;
    margin:50px auto;
    
}

.pacotes .card-image{
    width: 250px;
    height: 240px;
    border-radius: 24px 0 0 0;
}

.pacotes .card-content{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;

}

.funciona{
    padding: 15px;
}

.funciona .funciona-title{
    text-align: center;
    margin: 60px 0;
}

.funciona .funciona-cards{
    display: flex;
    max-width: 950px;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

 .funciona .card{
    width: 250px;
    height: 300px;
    border-radius: 24px 0 0 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 0 25px;
 }

 .funciona .card h3{
     font-weight: bold;
 }

 .funciona .card p{
     color: grey;
     font-size: .8rem;
     text-align: center;
 }

.funciona .card .card-content{
    height: 180px;
    text-align: center;
}
 
.imgprestacao{ 
    height: 100vh;
    width: 100px;
text-align: center;
}



.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
	text-align: center;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
	text-align: center;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }

/*RESPONSIVIDADE*/

@media (max-width: 480px){
    body {
       margin-bottom: 55px;
    }
    
    header nav ul{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;  
        padding: 0;
        margin:0;

        z-index:99;

        background: #1d61dd;
        color: white;
        font-weight: bold;
        height: 55px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav p{
        width: 100%;
        text-align: center;
    }
}

